In [1]:
import numpy as np
import pandas as pd

myDataFrame= pd.DataFrame()

myDataFrame['ayakkabiNumarasi'] = np.random.normal(37,4,100)
myDataFrame

    ayakkabiNumarasi
0          39.745493
1          33.983582
2          38.265091
3          37.886504
4          36.721568
..               ...
95         36.559148
96         35.825128
97         33.695061
98         34.391222
99         40.110375

[100 rows x 1 columns]

In [3]:
#Matematiksel Formul kullanarak ortalama hesaplama
sum(myDataFrame['ayakkabiNumarasi']) / len(myDataFrame['ayakkabiNumarasi'])

37.332778671678895

In [4]:
#Hazır (built-in) Python fonksiyonları kullanarak ortalama hesaplama
print(np.mean(myDataFrame['ayakkabiNumarasi']))

37.332778671678895

In [9]:
#Formul ile Median 
def median(no):
    n = len(no)
    if n < 1:
            return None
    if n % 2 == 1:
            return sorted(no)[n//2]
    else:
            return sum(sorted(no)[n//2-1:n//2+1])/2.0
        
median(myDataFrame['ayakkabiNumarasi'])

37.34433187782285

In [10]:
#Built-in formulu ile Median
import statistics
print(statistics.median(myDataFrame['ayakkabiNumarasi']))

37.34433187782285

In [11]:
#numpy ile median hesaplama
print(np.median(myDataFrame['ayakkabiNumarasi']))

37.34433187782285

In [12]:
# Mod hesaplama
import statistics
statistics.mode(myDataFrame['ayakkabiNumarasi'])

39.74549300912671

In [13]:
#Matematiksel Formul kullanarak varyans hesaplama
var = sum((myDataFrame['ayakkabiNumarasi'] -np.mean(myDataFrame['ayakkabiNumarasi']))**2) / (len(myDataFrame['ayakkabiNumarasi']))
var

12.940718894388269

In [16]:
#Built-in formulu ile varyans
print(myDataFrame['ayakkabiNumarasi'].var())

13.071433226654818

In [17]:
#numpy ile varyans hesaplama
print(np.var(myDataFrame['ayakkabiNumarasi']))

12.940718894388269

In [18]:
#numpy ile standart sapma hesaplama
np.std(myDataFrame['ayakkabiNumarasi'], ddof=1)

3.6154437108956374

In [19]:
#Built-in formulu ile standart sapma hesaplama
myDataFrame['ayakkabiNumarasi'].std()

3.6154437108956374

In [20]:
#Standart Hata 
np.std(myDataFrame['ayakkabiNumarasi']) / np.sqrt(len(myDataFrame['ayakkabiNumarasi']))

0.35973210719072973

In [21]:
#Built-in formulu ile standart hata
from scipy import stats
stats.sem(myDataFrame['ayakkabiNumarasi'])

0.36154437108956383

--------------------------------------------

------------------------------------------------------------

In [23]:
import numpy as np
import pandas as pd

newDataFrame = np.random.randint(55, size=55)
newDataFrame

array([21,  2, 41,  7, 12,  7, 43, 22, 45, 21, 32, 50, 42, 45, 33,  5, 30,
       30, 50, 37,  7, 40, 46, 21, 32, 53, 37, 15, 23,  3, 24, 24, 34, 50,
       10, 32, 12, 17, 10, 46, 34, 54, 15, 52, 40, 26, 28,  1, 45, 16, 49,
       16,  2, 22, 44])

In [24]:
#Matematiksel Formul kullanarak ortalama hesaplama
sum(newDataFrame) / len(newDataFrame)

28.272727272727273

In [25]:
#Hazır (built-in) Python fonksiyonları kullanarak ortalama hesaplama
print(np.mean(newDataFrame))

28.272727272727273

In [26]:
#Formul ile Median 
def median(no):
    n = len(no)
    if n < 1:
            return None
    if n % 2 == 1:
            return sorted(no)[n//2]
    else:
            return sum(sorted(no)[n//2-1:n//2+1])/2.0
        
median(newDataFrame)

30

In [27]:
#Built-in formulu ile Median
import statistics
print(statistics.median(newDataFrame))

30

In [28]:
#numpy ile median hesaplama
print(np.median(newDataFrame))

30.0

In [29]:
# Mod hesaplama
import statistics
statistics.mode(newDataFrame)

21

In [30]:
#Matematiksel Formul kullanarak varyans hesaplama
var = sum((newDataFrame -np.mean(newDataFrame))**2) / (len(newDataFrame))
var

244.998347107438

In [31]:
#Built-in formulu ile varyans
print(newDataFrame.var())

244.99834710743798

In [32]:
#numpy ile varyans hesaplama
print(np.var(newDataFrame))

244.99834710743798

In [33]:
#numpy ile standart sapma hesaplama
np.std(newDataFrame, ddof=1)

15.796688055898093

In [34]:
#Built-in formulu ile standart sapma hesaplama
newDataFrame.std()

15.652423042693357

In [35]:
#Standart Hata 
np.std(newDataFrame) / np.sqrt(len(newDataFrame))

2.1105722925200685

In [36]:
#Built-in formulu ile standart hata
from scipy import stats
stats.sem(newDataFrame)

2.130024982932247

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

In [38]:
import pandas as pd
import numpy as np

notes = pd.DataFrame()
notes['gender'] = ['male'] * 50 + ['female'] * 50
notes['score'] = np.append(np.random.normal(75, 15, 50), np.random.normal(26, 10, 50))

    gender       score
0     male   70.014971
1     male  100.973040
2     male   80.201445
3     male   78.367452
4     male   72.516833
..     ...         ...
95  female   16.463721
96  female   25.046628
97  female   29.820330
98  female   24.388190
99  female   31.542524

[100 rows x 2 columns]

In [39]:
#Matematiksel Formul kullanarak ortalama hesaplama
sum(notes['score']) / len(notes['score'])

52.95826581832751

In [40]:
#Hazır (built-in) Python fonksiyonları kullanarak ortalama hesaplama
print(np.mean(notes['score']))

52.95826581832751

In [41]:
#Formul ile Median 
def median(no):
    n = len(no)
    if n < 1:
            return None
    if n % 2 == 1:
            return sorted(no)[n//2]
    else:
            return sum(sorted(no)[n//2-1:n//2+1])/2.0
        
median(notes['score'])

49.13317693231215

In [42]:
#Built-in formulu ile Median
import statistics
print(statistics.median(notes['score']))

49.13317693231215

In [43]:
#numpy ile median hesaplama
print(np.median(notes['score']))

49.13317693231215

In [44]:
# Mod hesaplama
import statistics
statistics.mode(notes['score'])

70.01497111031937

In [47]:
#Matematiksel Formul kullanarak varyans hesaplama
var = sum((notes['score'] -np.mean(notes['score']))**2) / (len(notes['score']))
var

793.4590858820068

In [48]:
#Built-in formulu ile varyans
print(notes['score'].var())

801.4738241232392

In [49]:
#numpy ile varyans hesaplama
print(np.var(notes['score']))

793.4590858820068

In [50]:
#numpy ile standart sapma hesaplama
np.std(notes['score'], ddof=1)

28.310313034709438

In [51]:
#Built-in formulu ile standart sapma hesaplama
notes['score'].std()

28.310313034709438

In [52]:
#Standart Hata 
np.std(notes['score']) / np.sqrt(len(notes['score']))

2.816840581009168

In [53]:
#Built-in formulu ile standart hata
from scipy import stats
stats.sem(notes['score'])

2.8310313034709433